<!DOCTYPE html>
html(lang="es-ES")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=8; IE=9")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="/favicon.ico")
		link(rel="canonical" href="/index.html")
		link(rel="dns-prefetch" href="http://fonts.googleapis.com")
		link(rel="dns-prefetch" href="http://google-analytics.com")
		link(rel="dns-prefetch" href="https://www.youtube.com")
		link(rel="stylesheet" type="text/css" href="css/fontello.css")
		link(rel="stylesheet" type="text/css" href="css/estilos.css")
		//link(rel="stylesheet" type="text/css" href="fonts/fontello.css")
		title GymNoray - Centro Deportivo y Salud
	body
		include modulos/header
		include modulos/sections
		include modulos/footer
		script(src="js/ed-grid.js")
		script edgrid.menu('main-nav', 'main-menu')
		script(src="js/main.js")