.ed-container
	.ed-item.no-padding
		#banner.banner
			//.copy.l-40
			//	h2.copy__title Box Gym Noray
			//		span  ¿Quieres probar una semana GRATIS?
			//	p.copy__description
			//		| Ven a conocer nuestro Box con nuevas máquinas y servicios para que entrenes al máximo nivel, en un gran ambiente.
			//	a#myAnchor.copy__button(href="#") ¡Reserva ya tu plaza!