section#clientes
	.ed-container
		.ed-item.m-50.l-25.m-50
			.clientes
				h2.clientes__title ¡Descubre las clases disponibles!
				.clientes__nav
					.clientes__nav__item.clientes__nav__item--prev
					.clientes__nav__item.clientes__nav__item--next
		.ed-item.m-50.l-25.m-50
			.cliente
				.item-galeria
					img.cliente__img(src="img/zumba-2.jpg")
				h3.cliente__title Clases de Zumba
				p.cliente__description
					| Baila al ritmo de la mejor música, quemando calorías sin darte cuenta, ritmos latinos y ejercicios aeróbicos que se han convertido en la rutina de moda para perder peso y tonificar nuestra musculatura.
		.ed-item.m-50.l-25.m-50
			.cliente
				.item-galeria
					img.cliente__img(src="img/baile-1.jpg")
				h3.cliente__title Clases de Baile
				p.cliente__description
					| Clases sólo para nosotras. Libérate, siéntete la mujer mas atractiva dentro y fuera de la pista de baile.
		.ed-item.m-50.l-25.m-50
			.cliente
				.item-galeria
					img.cliente__img(src="img/spinin-4.jpg")
				h3.cliente__title Clases de Spinning
				p.cliente__description
					| Es un ejercicio aeróbico con el que se trabajan principalmente los músculos del tren inferior: glúteos y piernas, pero también se trabajan otros grupos de músculos asociados haciéndolo un ejercicio muy completo