.top-menu
	.ed-container
		.ed-item.l-80
			#proximaClase.proximaClase
				p Próxima clase de ___ en ___ minutos.
		.ed-item.l-20.main-end.no-padding
			.sociales__header
				a(href="#").sociales__small.icon-facebook
				a(href="#").sociales__small.icon-mail
				a(href="/login.html").sociales__small.icon-cog-alt