header#header.header
	.ed-container
		.ed-item.s-80.l-25
			.h2.logo Gym
				span Noray
			p.subtitle.
				Centro Deportivo y Salud
		.ed-item.s-20.l-75.main-end
			.ed-container
				.ed-item.l-100.no-padding
					include _headerMenu
				.ed-item.main-end.l-100.no-padding
					include _menu
	
		include _banner