#main-nav-toggle.nav-toggle
	nav#main-nav.main-nav
		ul#main-menu.main-menu
			li.main-menu__item: a(href="/#").main-menu__link.active.icon-twitter Gimnasio
				//  li.main-menu__subitem: a(href="/index.html").main-menu__sublink Gimnasio
				//  li.main-menu__subitem: a(href="/servicios.html").main-menu__sublink Servicios
				//  li.main-menu__subitem: a(href="/clases.html").main-menu__sublink Clases
				//  li.main-menu__subitem: a(href="/precios.html").main-menu__sublink Precios
				//  li.main-menu__subitem: a(href="/nosotros.html").main-menu__sublink Nosotros
				//  li.main-menu__subitem: a(href="/deportes.html").main-menu__sublink Deportes
				//  li.main-menu__subitem: a(href="/contacto.html").main-menu__sublink Contacto
			li.main-menu__item: a(href="/servicios.html").main-menu__link.icon-cog-alt Servicios
			li.main-menu__item: a(href="/clases.html").main-menu__link.icon-down-big Clases
			li.main-menu__item: a(href="/precios.html").main-menu__link.icon-down-open-big Precios
			li.main-menu__item: a(href="/nosotros.html").main-menu__link.icon-male Nosotros
			li.main-menu__item: a(href="/deportes.html").main-menu__link.icon-bicycle Deportes
			li.main-menu__item: a(href="/contacto.html").main-menu__link.icon-mail Contacto