section#productos
	.ed-container
		.ed-item.m-25.no-padding
			.producto
				h3.producto__title1.icon-food Slim
					span Body
				.producto__item
					img.producto__img(src="img/img1-350.png")
				p.producto__description
					| Lorem ipsum dolor sit amet, consecttetur adipscing elit.
		.ed-item.m-25.no-padding
			.producto
				h3.producto__title2 Slim
					span Body
				.producto__item
					img.producto__img(src="img/img1-350.png")
				p.producto__description
					| Lorem ipsum dolor sit amet, consecttetur adipscing elit.
		.ed-item.m-25.no-padding
			.producto
				h3.producto__title3 Slim
					span Body
				.producto__item
					img.producto__img(src="img/img1-350.png")
				p.producto__description
					| Lorem ipsum dolor sit amet, consecttetur adipscing elit.
		.ed-item.m-25.no-padding
			.producto
				h3.producto__title4 Slim
					span Body
				.producto__item
					img.producto__img(src="img/img1-350.png")
				p.producto__description
					| Lorem ipsum dolor sit amet, consecttetur adipscing elit.