footer#footer
   .ed-container
      .ed-item.m-50
         p.creditos
            | GymNoray &copy; 2017 Todos los derechos reservados
      .ed-item.m-50
         .sociales
            a(href="#").sociales__item.icon-beaker
            a(href="#").sociales__item.icon-bicycle
            a(href="#").sociales__item.icon-birthday
            a(href="#").sociales__item.icon-coffee
            a(href="#").sociales__item.icon-facebook
            a(href="#").sociales__item.icon-twitter