ul.content-box
   .ed-container
      .ed-item.m-50.l-25.no-padding
         li.content-box__item: a(href="#")
            figure.content-box__media
               img(src="img/banner4.jpg")
               figcaption.content-box__overlay
                  div
                     h1 Connect
                     p Esto es el texto guay que mola ver dentro de la caja
      .ed-item.m-50.l-25.no-padding
         li.content-box__item: a(href="#")
            figure.content-box__media
               img(src="img/banner3.jpg")
               figcaption.content-box__overlay
                  div
                     h1 Connect
                     p Esto es el texto guay que mola ver dentro de la caja
      .ed-item.m-50.l-25.no-padding
         li.content-box__item: a(href="#")
            figure.content-box__media
               img(src="img/banner2.jpg")
               figcaption.content-box__overlay
                  div
                     h1 Connect
                     p Esto es el texto guay que mola ver dentro de la caja
      .ed-item.m-50.l-25.no-padding
         li.content-box__item: a(href="#")
            figure.content-box__media
               img(src="img/banner1.jpg")
               figcaption.content-box__overlay
                  div
                     h1 Connect
                     p Esto es el texto guay que mola ver dentro de la caja