header#header
   .ed-container
      .ed-item.s-80.l-25
         .h2.logo Gym
            span Noray
         p.subtitle.
            Centro Deportivo y Salud
      .ed-item.s-20.l-75.main-end
         include menu
   .ed-container
      .ed-item
         include ../modulos/banner