section#servicios
   .ed-container
      .ed-item.full
         h2.section-title Servicios Disponibles en el Gym
            span Centro de Bienestar y Salud en Santa Pola
      .ed-item.m-1-3
         .servicio
            img.servicio__img(src="img/logo64.png")
            h3.servicio__title Fitness
            p.servicio__description
               | El Departamento de Fitness de GymNoray dispone de un equipo de entrenadores e instructores de primer nivel y está equipado con tecnología deportiva de última generación.
      .ed-item.m-1-3
         .servicio
            img.servicio__img(src="img/logo64.png")
            h3.servicio__title Belleza
            p.servicio__description
               | Salud y Belleza en GymNoray, donde calidad, experiencia y servicio se unen para ofrecerle los más novedosos y efectivos tratamientos.
      .ed-item.m-1-3
         .servicio
            img.servicio__img(src="img/logo64.png")
            h3.servicio__title Clases
            p.servicio__description
               | Tienes a tu disposición clases colectivas de diferentes actividades, consulta nuestros horarios y no te pierdas la próxima.
section#clientes
   .ed-container
      .ed-item.m-50.l-25.m-50
         .clientes
            h2.clientes__title This is the list of our recent clients!
            .clientes__nav
               .clientes__nav__item.clientes__nav__item--prev
               .clientes__nav__item.clientes__nav__item--next
      .ed-item.m-50.l-25.m-50
         .cliente
            .item-galeria
               img.cliente__img(src="img/img1-350.png")
            h3.cliente__title Cliente 1
            p.cliente__description
               | Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor. Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor.
      .ed-item.m-50.l-25.m-50
         .cliente
            .item-galeria
               img.cliente__img(src="img/img1-350.png")
            h3.cliente__title Cliente 1
            p.cliente__description
               | Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor. Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor.
      .ed-item.m-50.l-25.m-50
         .cliente
            .item-galeria
               img.cliente__img(src="img/img1-350.png")
            h3.cliente__title Cliente 1
            p.cliente__description
               | Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor. Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor.
section#noticias
   .ed-container
      .ed-item.m-1-3
         .noticia
            h3.noticia__title Hair Transplants
               span Vestibulum iaculis
            .noticia__item
               img.noticia__img(src="img/img1-350.png")
            p.noticia__description
               | Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor. Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor.
      .ed-item.m-1-3
         .noticia
            h3.noticia__title Hair Transplants
               span Vestibulum iaculis
            .noticia__item
               img.noticia__img(src="img/img1-350.png")
            p.noticia__description
               | Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor. Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor.
      .ed-item.m-1-3
         .noticia
            h3.noticia__title Hair Transplants
               span Vestibulum iaculis
            .noticia__item
               img.noticia__img(src="img/img3.jpg")
            p.noticia__description
               | Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor. Lorem ipsum dolor sit amet, consecttetur adipscing elit. Aenean egestas feugiar dolor.
section#productos
   .ed-container
      .ed-item.m-25.no-padding
         .producto
            h3.producto__title1.icon-food Slim
               span Body
            .producto__item
               img.producto__img(src="img/img1-350.png")
            p.producto__description
               | Lorem ipsum dolor sit amet, consecttetur adipscing elit.
      .ed-item.m-25.no-padding
         .producto
            h3.producto__title2 Slim
               span Body
            .producto__item
               img.producto__img(src="img/img1-350.png")
            p.producto__description
               | Lorem ipsum dolor sit amet, consecttetur adipscing elit.
      .ed-item.m-25.no-padding
         .producto
            h3.producto__title3 Slim
               span Body
            .producto__item
               img.producto__img(src="img/img1-350.png")
            p.producto__description
               | Lorem ipsum dolor sit amet, consecttetur adipscing elit.
      .ed-item.m-25.no-padding
         .producto
            h3.producto__title4 Slim
               span Body
            .producto__item
               img.producto__img(src="img/img1-350.png")
            p.producto__description
               | Lorem ipsum dolor sit amet, consecttetur adipscing elit.
section#box
   include galeria
