.producto {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;

  &__title1, &__title2, &__title3, &__title4 {
    margin: 0;
    line-height: 3em;
    text-align: center;
    span {
      padding-left: .2em;
      font-weight: 300;
      font-size: .9em;
    }
  }
  &__title1 {
    background: yellow;
  }
  &__title2 {
    background: red;
  }
  &__title3 {
    background: green;
  }
  &__title4 {
    background: blue;
  }

  &__img {
  }

  &__item {
    overflow: hidden;
    background: #000;
    position: relative;
    &:hover {
      img {
        transition: all 1.2s;
        transform: scale(1.3) rotate(-5deg);
        filter: sepia(.5);
      }
      &:after {
        opacity: 1;
        top: 0;
        transform: scale(1) rotate(0deg);
      }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .6s;
      transition-delay: .6s;
      box-shadow: 0 -1px 0 0 rgba(#333, .9) inset;
    }
    &:hover:after {
      box-shadow: 0 -150px 0 0 rgba(#000, .8) inset;
    }
  }

  &__description {
    //position: absolute;
    ////bottom: -101%;
    //left: 0;
    //width: 100%;
    //height: 101%;
    //color: #000;
    //background: #fff;
    //padding-top: 1.5625em;
    //padding-bottom: 1.5625em;
    //padding-left: 8.33333%;
    //padding-right: 8.33333%;

    &:hover {
      bottom: 0;
      //position: absolute;
      //bottom: 0;
      //left: 0;
      //width:100%;
      //height:100%;
      opacity: 1;

    }
  }
}


.content-box {
  &__item {
    overflow: hidden;
    position: relative
  }
  &__media {
    width: 100%;
    height: 100%;
    position: relative
  }

  &__title {
    //font-size: .875em;
    //line-height: 1.78571em;
    transition: background .3s ease-in-out
  }

  &__title--expand {
    color: #B3B3B3;
    //font-size: 1.125em;
    //line-height: 1.38889em;
    transition: all .3s ease-in-out
  }

  &__title--expand h1 {
    color: #000;
    //font-size: 1.5em;
    //line-height: 1.08333em;
  }

  &__header {
    color: #000;
    //font-size: 1.125em;
    //line-height: 1.38889em;
  }
  &__overlay {
    position: absolute;
    bottom: -101%;
    left: 0;
    width: 100%;
    height: 101%;
    color: #000;
    background: #fff;
    padding-left: 1em;
    transition: bottom .5s ease-in-out
  }
  //&__overlay>div{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  //  opacity:0;-moz-transition:opacity .2s ease-in-out,1.5s;
  //  -o-transition:opacity .2s ease-in-out,1.5s;
  //  -webkit-transition:opacity .2s ease-in-out,1.5s;
  //  transition:opacity .2s ease-in-out,1.5s}
  &__overlay h1 {
    font-size: 1.625em;
    line-height: 1.92308em;
  }
  &__overlay p {
    font-size: .875em;
    line-height: 1.78571em;
  }

  &__icon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3.25em;
    height: 3.25em;
    line-height: 4em;
    background: #fff;
    text-align: center;
    transition: background .3s ease-in-out
  }


  &__icon i {
    color: #000;
    font-size: 200%;
    transition: color .3s ease-in-out
  }


&__item:hover &__title--expand{
  background:#FFCF21;
  color:#000
}
&__item:hover &__title{
  background:#FFCF21
}
&__item:hover &__overlay{
  bottom:0
}
&__item:hover &__overlay>div{
  filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity:1
}
&__item:hover &__icon{
  background:#000
}
&__item:hover &__icon i{
  color:#fff
}
&__container{
  display:table
}
}
