.servicio{
  text-align: center;

  &__img{
    //background: $color1;
    width:5em;
    height:5em;
    //border-radius: 50%;
    opacity:.7;

    @include from(m){
      width:33%;
      margin-bottom: 1em;
    }


  }
  &__title{
    margin: .3em 0;
  }
  &__description{
    font-size: .8em;

  }
}
