figure {
  margin:0;
  padding:0;
}

#sliderproductos {
  //margin: auto auto 1em auto;
  //width: 95%;
  margin:auto;
  margin-bottom: 1em;
  outline: 5px solid red;
  overflow: hidden;
  img{
    width:100%;
    display: block;
    margin-bottom: 1em;
  }
  section {
    float: left;
    width: 25%;
  }
  ul {
    list-style: none;
  }
  h2 {
    text-shadow: none;
    font-size: .9em;
  }
}

.slider-inner{
  width:400%;
  display: table;
}